.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: rgb(159, 228, 208);
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
    transition: all 150ms ease;
  }
  
  .cursor.click {
    transform: scale(1.6);
    background-color: #ff0000;
  }
  
  .content {
    height: 100vh; /* Adjust to your needs */
  }
  